* {
    margin: 0;
    padding: 0;
}
body {
    background: #000;
    color: #666;
    text-align: center;
}
audio {
    width: 700px;
    height: 50px;
}
.container ul {
    height: 630px;
    overflow: hidden;
}
.container ul li {
    margin-top: 10px;
}